.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 48px);
  overflow-y: auto;

  .filters {
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
  }

  .list {
    flex: 1;
    overflow-y: auto;
  }
}