.container {
  display: flex;
  flex-direction: column;

  .filters {
    position: sticky;
    background: white;
    z-index: 1;
    top: 55px;
  }

  .list {
    flex: 1;
    overflow-y: auto;
  }
}