<h2 mat-dialog-title>{{entry.title}}</h2>

<div mat-dialog-content>
  <household-icon-text icon="calendar_month" [text]="entry.day | date: 'yyyy. MMMM d.'" size="medium" />
  <household-icon-text icon="alarm" [text]="(entry.start | timeSlotToTime) + ' - ' + (entry.end | timeSlotToTime)" size="medium" />
  <div *ngIf="entry.description">
    {{entry.description}}
  </div>
  <household-job-price-summary *ngIf="entry.entryType === 'work' && entry.prices?.length > 0" [prices]="entry.prices" />
</div>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close *ngIf="entry.entryType === 'work' && !entry.isPaid" class="pay" type="button" (click)="onPaying()">Fizetés</button>
  <button mat-flat-button *ngIf="entry.entryType !== 'work' || !entry.isPaid" color="primary" type="button" (click)="onEdit()">Szerkesztés</button>
  <button mat-flat-button *ngIf="entry.entryType !== 'work' || !entry.isPaid" color="warn" type="button" (click)="onDelete()">Törlés</button>
  <button mat-flat-button mat-dialog-close type="button">Bezárás</button>
</mat-dialog-actions>