<household-toolbar title="Tranzakciók">
  <button mat-icon-button type="button" [matMenuTriggerFor]="new" *householdIsEditor>
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #new="matMenu">
    <button mat-menu-item [routerLink]="['new', 'payment']">Kiadás</button>
    <button mat-menu-item [routerLink]="['new', 'income']">Bevétel</button>
    <button mat-menu-item [routerLink]="['new', 'split']">Bontás</button>
    <button mat-menu-item [routerLink]="['new', 'loan']">Kölcsön</button>
    <button mat-menu-item [routerLink]="['new', 'transfer']">Átvitel</button>
  </mat-menu>
</household-toolbar>

<household-account-transactions-list [transactions]="transactions | async"></household-account-transactions-list>
<button mat-raised-button color="primary" (click)="loadMore()" *ngIf="(transactions | async).length === maximumItemCount">Betöltés</button>
