.duration {
  display: flex;
  align-items: center;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.detailed-price {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  text-align: right;
}