<form [formGroup]="form" (ngSubmit)="onSave()">
  <div>
    <household-clearable-input formControlName="name" label="Név" />
    <household-clearable-input formControlName="description" type="area" label="Megjegyzés" />
    <div class="duration">
      <mat-label>Időtartam</mat-label>
      <button mat-icon-button type="button" (click)="onSetDuration(timeIncrement * -1)" [disabled]="duration === timeIncrement">
        <mat-icon>remove</mat-icon>
      </button>
      <span>{{duration | minutesToHour}} óra</span>
      <button mat-icon-button type="button" (click)="onSetDuration(timeIncrement)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <household-clearable-input formControlName="price" type="number" label="Ár" />
  </div>
  <div>
    <button mat-button>Mentés</button>
    <button mat-button type="button" (click)="onCancel()">Mégse</button>
  </div>
</form>