<household-toolbar title="Tranzakció">
  <button mat-icon-button type="button" (click)="delete()" *householdIsEditor>
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button type="button" replaceUrl="true" [routerLink]="['edit', formType]" *householdIsEditor>
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button type="button" [matMenuTriggerFor]="new" *householdIsEditor>
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #new="matMenu">
    <button mat-menu-item replaceUrl="true" [routerLink]="['../..', 'new', 'payment']">Kiadás</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['../..', 'new', 'income']">Bevétel</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['../..', 'new', 'split']">Bontás</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['../..', 'new', 'loan']">Kölcsön</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['../..', 'new', 'transfer']">Átvitel</button>
  </mat-menu>

</household-toolbar>
<ng-container *ngIf="transaction | async as tx">
  <h1>{{tx.issuedAt | date: 'yyyy. MMMM d.' }}</h1>
  <div>{{tx.amount | number:'1.0-2':'hu'}} {{(tx.account || tx.payingAccount).currency}}</div>
  <household-transaction-details-recipient [transaction]="tx" />
  <household-transaction-details-category [transaction]="tx" />
  <household-transaction-details-inventory [transaction]="tx" />
  <household-transaction-details-invoice [transaction]="tx" />
  <household-transaction-details-project [transaction]="tx" />
  <household-transaction-details-description [transaction]="tx" />
  <pre>{{tx | json}}</pre>
</ng-container>