node_modules
coverage
output
dist

!webpack.config.js
packaged.*.yaml

.idea
.vscode

.DS_Store
.tmp
*.log
*.txt
test/cypress
!test/src/plugins/index.js
!test/src/support/index.js
*.env.json
.env
samconfig.toml
samconfig.*.toml