<form [formGroup]="form">
  <household-datetime-input formControlName="issuedAt" />

  <household-amount-input [accountId]="form.value.accountId" formControlName="amount" [showInverse]="false" [isPositive]="false" />

  <household-account-autocomplete-input label="Számla" formControlName="accountId" />

  <household-recipient-autocomplete-input label="Partner" formControlName="recipientId" />

  <household-clearable-input formControlName="description" label="Megjegyzés" />

  <div *ngFor="let s of splits; index as i">
    <household-transaction-short-details [currencyAccountId]="form.value.accountId" [amount]="s.amount" [accountId]="s.loanAccountId" [categoryId]="s.categoryId" [projectId]="s.projectId" [productId]="s.productId" [quantity]="s.quantity" [description]="s.description" [billingStartDate]="s.billingStartDate" [billingEndDate]="s.billingEndDate" [invoiceNumber]="s.invoiceNumber" accountIcon="forward" [accountIconColor]="s.amount >= 0 ? 'green' : 'red'" />
    <div style="justify-self: end;">
      <button mat-icon-button color="primary" type="button" (click)="editSplit(i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" type="button" (click)="deleteSplit(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="split" [formGroup]="split">
    <household-amount-input [accountId]="form.value.accountId" formControlName="amount" [isPositive]="false" />

    <household-category-autocomplete-input label="Kategória" formControlName="categoryId" />

    <ng-container *ngIf="categoryType === 'invoice'">
      <mat-form-field>
        <mat-label>Számlázási időszak</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="billingStartDate" placeholder="Kezdete">
          <input matEndDate formControlName="billingEndDate" placeholder="Vége">
        </mat-date-range-input>
        <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
        <mat-date-range-picker #picker />
      </mat-form-field>

      <household-clearable-input label="Számlaszám" formControlName="invoiceNumber" />
    </ng-container>

    <household-product-autocomplete-input *ngIf="!split.value.categoryId || categoryType === 'inventory'" label="Termék" formControlName="productId" [categoryId]="split.value.categoryId" />

    <ng-container *ngIf="categoryType === 'inventory'">
      <household-clearable-input label="Mennyiség" formControlName="quantity" type="number" />
    </ng-container>

    <household-project-autocomplete-input label="Projekt" formControlName="projectId" />

    <household-clearable-input formControlName="description" label="Megjegyzés" />

    <household-account-autocomplete-input label="Kölcsön számla" [exclude]="form.value.accountId" formControlName="loanAccountId" />

    <mat-slide-toggle *ngIf="split.value.loanAccountId" color="primary" formControlName="isSettled">Tartozás rendezve</mat-slide-toggle>
  </div>

  <button mat-flat-button *ngIf="sumOfSplits !== form.value.amount" type="button" (click)="addNewSplit()" [disabled]="!form.value.amount">{{sumOfSplits + split?.value.amount === form.value.amount ? 'Kész' : 'Új bontás'}}</button>
  <button mat-flat-button *ngIf="split" color="warn" type="button" (click)="cancelSplit()">Mégse</button>

</form>