<mat-form-field>
  <button mat-icon-button matPrefix color="primary" type="button" (click)="create($event)">
    <mat-icon>library_add</mat-icon>
  </button>
  <mat-label>{{ label }}</mat-label>
  <input type="text" #inp matInput [matAutocomplete]="autocomplete" (blur)="touched?.()" [formControl]="selected" />
  <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayName" (optionSelected)="optionSelected(inp)">
    @for (
      category of products | async | autocompleteFilter: "categoryId" : categoryId | productAutocompleteFilter: inp.value;
      track $index
    ) {
      <mat-optgroup [label]="category.fullName">
        @for (product of category.products; track $index) {
          <mat-option [value]="product">
            {{ product.fullName }}
          </mat-option>
        }
      </mat-optgroup>
    }
  </mat-autocomplete>
  <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearValue($event)" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  @if (selected.errors?.required) {
    <mat-error>Kötelező</mat-error>
  }
</mat-form-field>
