<household-toolbar title="Naptár">
  <button mat-icon-button type="button" [matMenuTriggerFor]="new">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #new="matMenu">
    <!-- <button mat-menu-item (click)="onCreateWork()">Munka</button> -->
    <button mat-menu-item (click)="onCreatePersonal()">Személyes</button>
    <button mat-menu-item (click)="onCreateIssue()">Probléma</button>
  </mat-menu>
</household-toolbar>

<div class="header">
  <div class="week-stepper">
    <button mat-flat-button color="primary" type="button" (click)="onChangeWeek(-1)"><mat-icon>arrow_left</mat-icon>Előző hét</button>
    <button mat-flat-button color="warn" type="button" (click)="onShowToday()">Ma</button>
    <button mat-flat-button color="primary" type="button" (click)="onChangeWeek(1)">Következő hét <mat-icon>arrow_right</mat-icon></button>
  </div>
  <div class="days-of-week">
    <div></div>
    <div class="day" *ngFor="let d of daysOfWeek | async ">
      <div>
        {{d.day | date: 'MMM dd.'}}
      </div>
      <div>
        {{d.day | date: 'EEEE'}}
      </div>
      <div class="buttons">
        <button mat-icon-button type="button" *ngIf="d.dayType !== 'holiday'" (click)="onSetWorkDay(d)"><mat-icon>settings</mat-icon></button>
      </div>
    </div>
  </div>
</div>

<div class="calendar">
  <div class="time">
    <div *ngFor="let hour of (true | timeRange); let i = index" [style.grid-row]="i * 2 + 1">
      {{ hour }}
    </div>
  </div>
  <household-hairdressing-calendar-day *ngFor="let day of daysOfWeek | async" [day]="day" />
</div>