@let day = calendarDay | async;
@if (day) {
<div class="day">
  <div class="pending" [style.grid-column]="(pendingStart + 1) + ' / ' + (pendingEnd + 1)"></div>
  @switch (day.dayType) {
  @case ('weekend') {
  @if (day.start && day.end) {
  <div class="no-work" [style.grid-column]="1 + '/ ' + (day.start + 1)"></div>
  <div class="no-work" [style.grid-column]="(day.end + 1) + '/ 97'"></div>
  } @else {
  <div class="no-work" [style.grid-column]="'1 / 97'"></div>
  }
  }
  @case ('vacation') {
  <div class="vacation" [style.grid-column]="'1 / 97'"></div>
  }
  @case ('holiday') {
  <div class="holiday" [style.grid-column]="'1 / 97'"></div>
  }
  @default {
  <div class="no-work" [style.grid-column]="1 + '/ ' + (day.start + 1)"></div>
  <div class="no-work" [style.grid-column]="(day.end + 1) + '/ 97'"></div>
  }
  }
  @for (e of day.entries; track $index) {
  @if (e.calendarEntryId !== excludedCalendarEntryId) {
  <div [ngClass]="e.entryType" [style.grid-column]="(e.start + 1) + ' / ' + (e.end + 1)"></div>
  }
  }
</div>
}