<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <household-clearable-input formControlName="title" label="Megnevezés" />
    <household-clearable-input formControlName="description" type="area" label="Leírás" />
    <mat-form-field>
      <mat-label>Dátum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="day" placeholder="Dátum">
      <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
      <mat-datepicker #picker />
    </mat-form-field>
    <mat-form-field class="time">
      <mat-label>Kezdete</mat-label>
      <input matInput formControlName="start" [matTimepicker]="startPicker">
      <mat-timepicker-toggle matIconSuffix [for]="startPicker" />
      <mat-timepicker interval="15min" #startPicker />
    </mat-form-field>
    <mat-form-field class="time">
      <mat-label>Vége</mat-label>
      <input matInput formControlName="end" [matTimepicker]="endPicker">
      <mat-timepicker-toggle matIconSuffix [for]="endPicker" />
      <mat-timepicker interval="15min" #endPicker />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial>Mentés</button>
    <button mat-button mat-dialog-close type="button">Mégse</button>
  </div>
</form>