<div class="content" [formGroup]="form">

  <household-clearable-input formControlName="title" label="Megnevezés" />
  <household-clearable-input formControlName="description" type="area" label="Leírás" />
  <div>

    <mat-form-field>
      <mat-label>Típus</mat-label>
      <mat-select formControlName="entryType">
        <mat-option [value]="e.key" *ngFor="let e of entryTypes | keyvalue">{{e.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Dátum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="day" placeholder="Dátum">
    <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
    <mat-datepicker #picker />
  </mat-form-field>
  <mat-form-field class="time" *ngIf="!form.value.isAllDay">
    <mat-label>Kezdete</mat-label>
    <input matInput [matTimepicker]="startPicker">
    <mat-timepicker-toggle matIconSuffix [for]="startPicker" />
    <mat-timepicker interval="15min" #startPicker />
  </mat-form-field>
  <mat-form-field class="time" *ngIf="!form.value.isAllDay">
    <mat-label>Vége</mat-label>
    <input matInput [matTimepicker]="endPicker">
    <mat-timepicker-toggle matIconSuffix [for]="endPicker" />
    <mat-timepicker interval="15min" #endPicker />
  </mat-form-field>
  <mat-checkbox *ngIf="form.value.entryType === 'personal'" formControlName="isAllDay">Egész napos</mat-checkbox>
  <button type="button" (click)="onSubmit()">submit</button>
</div>