<div mat-dialog-title>{{title()}}</div>
<div mat-dialog-content>
  @if(entry.entryType === 'work') {
  <hairdressing-customer-autocomplete-input label="Vendég" [formField]="entryForm.customer" />
  @if (entryForm.customer().value()) {
  <mat-form-field>
    <mat-label>Munka</mat-label>
    <mat-select [formField]="entryForm.job">
      @for (job of entryForm.customer().value().jobs; track $index) {
      <mat-option [value]="job">{{job.name}} ({{job.duration | timeSlotToTime}} óra)</mat-option>
      }
      <mat-option [value]="CUSTOM_JOB">Egyéb</mat-option>
    </mat-select>
  </mat-form-field>
  }
  }
  @if (entry.entryType !== 'work' || (entryForm.customer().value() && entryForm.job().value()?.name === CUSTOM_JOB.name)) {
  <shared-clearable-input label="Megnevezés" [formField]="entryForm.title" />
  <shared-clearable-input type="area" label="Leírás" [formField]="entryForm.description" />
  }

  <mat-form-field>
    <mat-label>Dátum</mat-label>
    <input matInput [formField]="entryForm.day" [matDatepicker]="picker" placeholder="Dátum" (click)="picker.open()" readonly>
    <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
    <mat-datepicker #picker />
  </mat-form-field>
  <hairdressing-duration-stepper [(value)]="duration" />
  <mat-slider min="0" [max]="96-duration()">
    <input matSliderThumb [(ngModel)]="start">
  </mat-slider>{{start() | timeSlotToTime}} - {{start() + duration() | timeSlotToTime}}

  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" id="calendar-entry-form">


    <mat-slider min="0" max="96">
      <input formControlName="start" matSliderThumb>
    </mat-slider>
    {{form.value.start | timeSlotToTime}} - {{form.value.start + form.value.duration | timeSlotToTime}}
    <household-calendar-horizontal-day [date]="form.value.day" [pendingStart]="form.value.start" [pendingEnd]="form.value.start + form.value.duration" [pendingCalendarEntryId]="entry.calendarEntryId" />
    @for (e of form.value | entryWarnings: (calendarDay | async) : entry; track $index) {
    <mat-error>
      {{e}}
    </mat-error>
    }
  </form> -->
</div>
<div mat-dialog-actions>
  <button matButton="filled" cdkFocusInitial form="calendar-entry-form" (click)="onSubmit()">Mentés</button>
  <button matButton="text" mat-dialog-close type="button">Mégse</button>
</div>