<household-toolbar title="Vendégek">
  <button mat-icon-button (click)="onCreate()" type="button">
    <mat-icon>add</mat-icon>
  </button>
</household-toolbar>
<div class="search mat-app-background">
  <mat-slide-toggle color="primary" [(ngModel)]="showArchivedCustomers">{{showArchivedCustomers() ? 'Régi vendégek megjelenítve' : 'Régi vendégek elrejtve'}}</mat-slide-toggle>
  <household-clearable-input label="Keresés" [formControl]="search" />
</div>
<household-customer-list [customers]="filteredCustomers()" />