<household-toolbar title="Importálás">
  <button mat-icon-button type="button" tabindex="-1" [matMenuTriggerFor]="new">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-menu #new="matMenu">
    <button mat-menu-item (click)="updateAccount()">Számla</button>
    <button mat-menu-item>Kategória</button>
    <button mat-menu-item>Termék</button>
    <button mat-menu-item>Partner</button>
    <button mat-menu-item>Projekt</button>
  </mat-menu>
</household-toolbar>
<household-import-transactions-list [transactions]="transactions | async" />