<div class="transaction-list-item mat-elevation-z2 ">
  <div class="transaction-list-item__datetime">
    <div class="transaction-list-item__year" *ngIf="showYear">{{date | date:'yyyy'}}</div>
    <div class="transaction-list-item__date">{{date | date:'MMM dd.'}}</div>
    <div class="transaction-list-item__time">{{date | date:'HH:mm'}}</div>
  </div>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon ngClass="green">reply_all</mat-icon>
      <div matListItemTitle ngClass="green">{{transaction?.payingAccount.fullName}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon ngClass="red">forward</mat-icon>
      <div matListItemTitle ngClass="red">{{transaction?.ownerAccount.fullName}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>paid</mat-icon>
      <div matListItemTitle>{{remainingAmount}} {{transaction?.payingAccount.currency}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="transaction?.recipient">
      <mat-icon matListItemIcon>store</mat-icon>
      <div matListItemTitle class="transaction-list-item__recipient">{{transaction.recipient.name}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="transaction?.category">
      <mat-icon matListItemIcon>category</mat-icon>
      <div matListItemTitle class="transaction-list-item__category">{{transaction.category.fullName}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="transaction?.project">
      <mat-icon matListItemIcon>stacks</mat-icon>
      <div matListItemTitle class="transaction-list-item__project">{{transaction.project.name}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="transaction?.description">
      <mat-icon matListItemIcon>description</mat-icon>
      <div matListItemTitle class="transaction-list-item__description">{{transaction.description}}</div>
    </mat-list-item>
  </mat-list>
  <div class="transaction-list-item__buttons">
    <button mat-icon-button color="warn" type="button" (click)="delete.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div></div>
  <!-- <household-amount-input [currency]="transaction?.payingAccount.currency" min="0" [max]="originalRemainingAmount" [formControl]="amount" /> -->
</div>
