<div [formGroup]="form">
  <h1 mat-dialog-title>{{product ? 'Szerkesztése' : 'Új'}}</h1>
  <div mat-dialog-content>
    <app-clearable-input label="Márka" formControlName="brand">
    </app-clearable-input>
    <app-clearable-input label="Kiszerelés" formControlName="measurement" type="number">
    </app-clearable-input>
    <mat-form-field appearance="fill">
      <mat-label>Mértékegység</mat-label>
      <mat-select name="unitOfMeasurement" formControlName="unitOfMeasurement">
        <mat-option *ngFor="let u of unitsOfMeasurement" [value]="u">
          {{u}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="save()">Mentés</button>
    <button mat-button mat-dialog-close>Mégse</button>
  </div>
</div>
