<h1>{{title}}</h1>
<mat-action-list>
  <button mat-list-item type="button" (click)="edit()">
    <mat-icon matListItemIcon>edit</mat-icon>
    <div matListItemTitle>Szerkeszés</div>
  </button>
  <button mat-list-item type="button" (click)="merge()">
    <mat-icon matListItemIcon>merge</mat-icon>
    <div matListItemTitle>Egyesítés</div>
  </button>
  <button mat-list-item type="button" (click)="delete()">
    <mat-icon matListItemIcon>delete</mat-icon>
    <div matListItemTitle>Törlés</div>
  </button>
</mat-action-list>
