::ng-deep mat-list-option {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end;
}

mat-list-option {
  height: auto !important;
  align-items: flex-start;
  white-space: normal;
}

mat-selection-list {
  max-height: none;
}
