<div class="list-item">
  <div class="datetime">
    <div class="year" *ngIf="showYear">{{transaction.issuedAt | date:'yyyy'}}</div>
    <div class="date">{{transaction.issuedAt | date:'MMM dd.'}}</div>
    <div class="time">{{transaction.issuedAt | date:'HH:mm'}}</div>
  </div>

  <ng-container [ngSwitch]="transaction.transactionType">
    <household-transaction-short-details class="details" *ngSwitchCase="'payment'" [project]="transaction.project" [recipient]="transaction.recipient" [category]="transaction.category" [description]="transaction.description" [payingAccount]="transaction.account" [ownerAccount]="transaction.loanAccount" />
    <household-transaction-short-details class="details" *ngSwitchCase="'transfer'" [description]="transaction.description" [givingAccount]="transaction.amount < 0 ? transaction.account : transaction.transferAccount" [receivingAccount]="transaction.amount > 0 ? transaction.account : transaction.transferAccount" />
    <household-transaction-short-details class="details" *ngSwitchCase="'draft'" [error]="'Fizető számla nincs megadva!'" [project]="transaction.project" [recipient]="transaction.recipient" [category]="transaction.category" [description]="transaction.description" [ownerAccount]="transaction.loanAccount" [givingAccount]="transaction.amount < 0 ? transaction.account : transaction.transferAccount" [receivingAccount]="transaction.amount > 0 ? transaction.account : transaction.transferAccount" />
  </ng-container>


  <div class="amount" [ngClass]="transaction.amount >= 0 ? 'green' : 'red'">{{transaction.amount | number:'1.0-2':'hu' }} {{transaction.account?.currency}}</div>
</div>