<div class="list-item">
  <div class="datetime">
    {{ transaction.issuedAt | date: (showYear ? "yyyy. MMMM dd. HH:mm" : "MMMM d. HH:mm") }}
  </div>

  <div class="details">
    @if (transaction.transactionType === "draft") {
      <household-transaction-details-row icon="error" class="red" text="Fizető számla nincs megadva!" />
    }
    @if (transaction.transactionType === "transfer") {
      <household-transaction-details-transfer [transaction]="transaction" [twoWayDisplay]="true" />
    } @else {
      <household-transaction-details-loan [transaction]="transaction" />
      <household-transaction-details-recipient [transaction]="transaction" />
      <household-transaction-details-category [transaction]="transaction" />
      <household-transaction-details-project [transaction]="transaction" />
    }
    <household-transaction-details-description [transaction]="transaction" />
  </div>

  <div class="amount" [ngClass]="transaction.amount >= 0 ? 'green' : 'red'">
    {{ transaction.amount | number: "1.0-2" : "hu" }} {{ transaction.account?.currency }}
  </div>
</div>
