<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  @if (prefix) {
  <span matTextPrefix>{{prefix}} &nbsp;</span>
  }
  @switch (type) {
    @case ("number") {
      <input type="number" matInput [value]="value()" (input)="value.set($event.target.value)" />
    }
    @case ("text") {
      <input type="text" matInput [value]="value()" (input)="value.set($event.target.value)" />
    }
    @case ("area") {
      <textarea matInput [value]="value()" (input)="value.set($event.target.value)" rows="3"></textarea>
    }
  }
  <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearValue()" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  <!-- @if (input.errors?.required) {
    <mat-error>Kötelező</mat-error>
  } -->
</mat-form-field>
