<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  @if (prefix) {
  <span matTextPrefix>{{prefix}} &nbsp;</span>
  }
  @switch (type) {
    @case ("number") {
      <input type="number" matInput [formControl]="input" (blur)="touched?.()" />
    }
    @case ("text") {
      <input type="text" matInput [formControl]="input" (blur)="touched?.()" />
    }
    @case ("area") {
      <textarea matInput [formControl]="input" rows="3" (blur)="touched?.()"></textarea>
    }
  }
  <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearValue($event)" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  @if (input.errors?.required) {
    <mat-error>Kötelező</mat-error>
  }
</mat-form-field>
