.direction-button {
  text-align: center;
}

.deferred-list {
  .mat-mdc-list {
    min-width: 0;
    padding: 0;

    .mat-mdc-list-item {
      height: 26px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}

.list-item {
  margin: 5px 5px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 15px;
  row-gap: 5px;
  grid-template-areas: "datetime"
    "details"
    "buttons";

  &>.datetime {
    grid-area: datetime;
    text-align: left;
    font-size: 16px;
  }

  &>.details {
    grid-area: details;
  }

  &>.buttons {
    grid-area: buttons;
    justify-self: end;
  }

  @media all and (max-width: 639px) {
    & {
      column-gap: 5px;
    }

    &>.datetime {
      font-size: 14px;
    }
  }
}