# Xcode
DerivedData/
build/
*.xcworkspace
*.xccheckout
*.moved-aside
*.xcuserstate

# User-specific files
*.xcuserdatad
*.xcscmblueprint

# Swift Package Manager
/.build/
/Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Temporary files
*.swp
*.lock
*.DS_Store

# Xcode playgrounds
timeline.xctimeline
playground.xcworkspace

# Crashlytics / Firebase
fabric.properties
