<div mat-dialog-title>{{title}}</div>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
    <ng-container *ngIf="entry.entryType === 'work'">
      <household-customer-job-autocomplete-input label="Munka" formControlName="job" />
    </ng-container>
    <ng-container *ngIf="entry.entryType !== 'work' || (form.value.job?.customer && !form.value.job?.job)">
      <household-clearable-input formControlName="title" label="Megnevezés" />
      <household-clearable-input formControlName="description" type="area" label="Leírás" />
    </ng-container>
    <mat-form-field>
      <mat-label>Dátum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="day" placeholder="Dátum">
      <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
      <mat-datepicker #picker />
    </mat-form-field>
    <household-duration-stepper formControlName="duration" />
    <mat-slider min="0" max="96">
      <input formControlName="start" matSliderThumb>
    </mat-slider>
    {{form.value.start | timeSlotToTime}} - {{form.value.start + form.value.duration | timeSlotToTime}}
    <household-calendar-horizontal-day [date]="form.value.day" [pendingStart]="form.value.start" [pendingEnd]="form.value.start+form.value.duration" [excludedCalendarEntryId]="entry.calendarEntryId" />
    <ng-container *ngIf="entry.entryType === 'work'">
      <mat-error *ngIf="form.value.duration < form.value.job?.job?.duration">Időtartam kevesebb, mint a munkához rögzített</mat-error>
    </ng-container>
    <mat-error *ngFor="let e of errors | async">
      {{e}}
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" cdkFocusInitial form="form">Mentés</button>
  <button mat-flat-button mat-dialog-close type="button">Mégse</button>
</div>