.archived {
  background-image: repeating-linear-gradient(-45deg,
      #f0f0f0,
      #f0f0f0 6px,
      transparent 6px,
      transparent 12px);
}

mat-card {
  height: 100%;

  mat-card-content {
    flex: 1;
  }

  mat-card-actions {
    height: 64px;
  }
}