<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-title>
    Munkanap beállításai
  </div>
  <div mat-dialog-content>
    <mat-button-toggle-group formControlName="dayType">
      <mat-button-toggle value="workday">Munkanap</mat-button-toggle>
      <mat-button-toggle [disabled]="day.dayType === 'weekend'" value="vacation">Szabadság</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider />
    <ng-container *ngIf="form.value.dayType === 'workday'">
      <mat-radio-group formControlName="shiftType">
        <mat-radio-button value="morning">Délelőtt</mat-radio-button>
        <mat-radio-button value="afternoon">Délután</mat-radio-button>
        <mat-radio-button value="custom">Egyéni</mat-radio-button>
      </mat-radio-group>
      <mat-slider min="29" max="85">
        <input formControlName="start" matSliderStartThumb>
        <input formControlName="end" matSliderEndThumb>
      </mat-slider>
      {{form.value.start | timeSlotToDate}} - {{form.value.end | timeSlotToDate}}
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" cdkFocusInitial>Mentés</button>
    <button mat-flat-button mat-dialog-close type="button">Mégse</button>
    <button mat-flat-button color="warn" type="button" (click)="onDelete()">Alaphelyzetbe állítás</button>
  </div>
</form>