<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <household-toolbar title="Tranzakció">
    <button mat-icon-button type="button" *ngIf="transactionId" (click)="deleteTransaction()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
  </household-toolbar>
  <mat-tab-group>
    <mat-tab label="Részletek" tabindex="-1">
      <div class="transaction-edit__tab">
        <div>
          <household-datetime-input formControlName="issuedAt">
          </household-datetime-input>
        </div>
        <div class="transaction-edit__amount">
          <household-amount-input formControlName="amount" [currency]="form.value.account?.currency">
          </household-amount-input>
        </div>
        <div class="transaction-edit__account">
          <household-autocomplete-input [items]="accounts" label="Számla" displayPropertyName="fullName"
            formControlName="account"></household-autocomplete-input>
        </div>
        <mat-slide-toggle color="primary" formControlName="isTransfer">Átvitel másik számlára</mat-slide-toggle>
        <div class="transaction-edit__account" *ngIf="isTransfer">
          <household-autocomplete-input [items]="accounts" label="Átvitel {{amount >= 0 ? 'innen' : 'ide'}}"
            displayPropertyName="fullName" formControlName="transferAccount"></household-autocomplete-input>
        </div>
        <div class="transaction-edit__amount" *ngIf="isTransfer">
          <household-amount-input formControlName="transferAmount" [currency]="form.value.transferAccount?.currency">
          </household-amount-input>
        </div>
        <div class="transaction-edit__category" *ngIf="isPayment">
          <household-autocomplete-input [items]="categories" label="Kategória" displayPropertyName="fullName"
            filterPropertyName="name" formControlName="category"></household-autocomplete-input>
          <button mat-mini-fab color="primary" type="button" (click)="createCategory()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <household-invoice-input *ngIf="isCategoryType('invoice') && isPayment" formControlName="invoice">
        </household-invoice-input>
        <household-inventory-input *ngIf="isCategoryType('inventory') && isPayment"
          [categoryId]="form.value.category.categoryId" formControlName="inventory">
        </household-inventory-input>
        <div class="transaction-edit__recipient" *ngIf="!isTransfer">
          <household-autocomplete-input [items]="recipients" label="Partner" displayPropertyName="name"
            formControlName="recipient"></household-autocomplete-input>
          <button mat-mini-fab color="primary" type="button" (click)="createRecipient()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="transaction-edit__project" *ngIf="isPayment">
          <household-autocomplete-input [items]="projects" label="Projekt" displayPropertyName="name"
            formControlName="project"></household-autocomplete-input>
          <button mat-mini-fab color="primary" type="button" (click)="createProject()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="transaction-edit__description">
          <household-clearable-input formControlName="description" label="Megjegyzés">
          </household-clearable-input>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Bontás" *ngIf="!isTransfer" tabindex="-1">
      <div class="transaction-edit__tab" formArrayName="splits">
        <p class="transaction-edit__split-amount">
          Összesen: {{form.value.amount}} {{form.value.account?.currency}}
          <button mat-mini-fab color="primary" (click)="addSplit()" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="transaction-edit__split_diff" *ngIf="splitsDiff !== 0">
          Hiányzó összeg: {{splitsDiff}} {{form.value.account?.currency}}
        </p>
        <div *ngFor="let split of form.controls.splits.controls; index as i" [formGroup]="split"
          class="mat-elevation-z2 transaction-edit-split-item">
          <div class="transaction-edit-split-item__details">
            <div class="transaction-edit-split-item__amount">
              <household-amount-input formControlName="amount" [currency]="form.value.account?.currency">
              </household-amount-input>
            </div>
            <div class="transaction-edit-split-item__category">
              <household-autocomplete-input [items]="categories" label="Kategória" displayPropertyName="fullName"
                filterPropertyName="name" formControlName="category"></household-autocomplete-input>
              <button mat-mini-fab color="primary" type="button" (click)="createCategory()">
                <mat-icon>library_add</mat-icon>
              </button>
            </div>
            <household-invoice-input *ngIf="isCategoryType('invoice', i)" formControlName="invoice">
            </household-invoice-input>
            <household-inventory-input *ngIf="isCategoryType('inventory', i)"
              [categoryId]="split.value.category.categoryId" formControlName="inventory">
            </household-inventory-input>
            <div class="transaction-edit-split-item__project">
              <household-autocomplete-input [items]="projects" label="Projekt" displayPropertyName="name"
                formControlName="project"></household-autocomplete-input>
              <button mat-mini-fab color="primary" type="button" (click)="createProject()">
                <mat-icon>library_add</mat-icon>
              </button>
            </div>
            <div class="transaction-edit-split-item__description">
              <household-clearable-input formControlName="description" label="Megjegyzés">
              </household-clearable-input>
            </div>
          </div>
          <div class="transaction-edit-split-item__delete">
            <button mat-icon-button color="warn" class="transaction-edit-split-item" (click)="deleteSplit(i)"
              type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>