.transaction-edit-split-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "details delete";
  margin-bottom: 50px;

  &__details {
    grid-area: details;
  }

  &__delete {
    grid-area: delete;
  }
}

.transaction-edit {
  &__tab {
    padding: 10px;
  }

  &__split-amount {
    font-size: 20px;
  }

  &__split-diff {
    font-size: 18px;
  }

  &__deferred-list .mat-mdc-list-item {
    height: auto;
  }
}

.deferred-list {
  .mat-mdc-list {
    min-width: 0;
    padding: 0;

    .mat-mdc-list-item {
      height: 26px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}
