<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-tab-group>
    <mat-tab label="Részletek">
      <div>
        <mat-form-field class="transaction-edit__date" appearance="fill">
          <mat-label>Tranzakció dátuma</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="issuedAt">
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="transaction-edit__hour" appearance="fill">
          <mat-label>Óra</mat-label>
          <input matInput #hour type="number" min="0" max="23" placeholder="" formControlName="hour">
        </mat-form-field>
        <mat-form-field class="transaction-edit__minute" appearance="fill">
          <mat-label>Perc</mat-label>
          <input matInput #minute type="number" min="0" max="59" placeholder="" formControlName="minute">
        </mat-form-field>
      </div>
      <div class="transaction-edit__amount">
        <mat-form-field appearance="fill">
          <mat-label>Összeg</mat-label>
          <span matSuffix>{{form.value.account?.currency}}</span>
          <input type="number" matInput formControlName="amount">
        </mat-form-field>
      </div>
      <div class="transaction-edit__account">
        <mat-form-field appearance="fill">
          <mat-label>Számla</mat-label>
          <input type="text" #inp matInput [matAutocomplete]="accountsAC" formControlName="account">
          <mat-autocomplete #accountsAC="matAutocomplete" [displayWith]="displayName">
            <mat-option *ngFor="let account of accounts | async | autocompleteFilter: 'name' : inp.value"
              [value]="account">
              {{account.name}}
            </mat-option>
          </mat-autocomplete>
          <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearFormValue('account')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-slide-toggle color="primary" formControlName="isTransfer">Átvitel másik számlára</mat-slide-toggle>
      <div class="transaction-edit__account" *ngIf="form.value.isTransfer">
        <mat-form-field appearance="fill">
          <mat-label>Átvitel {{form.value.amount >= 0 ? 'innen' : 'ide'}}</mat-label>
          <input type="text" #inp matInput [matAutocomplete]="transferAccountsAC" formControlName="transferAccount">
          <mat-autocomplete #transferAccountsAC="matAutocomplete" [displayWith]="displayName">
            <mat-option
              *ngFor="let transferAccount of transferAccounts | async | autocompleteFilter: 'name' : inp.value"
              [value]="transferAccount">
              {{transferAccount.name}}
            </mat-option>
          </mat-autocomplete>
          <button matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="clearFormValue('transferAccount')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="transaction-edit__category" *ngIf="!form.value.isTransfer">
        <mat-form-field appearance="fill">
          <mat-label>Kategória</mat-label>
          <input type="text" #inp matInput [matAutocomplete]="categorysAC" formControlName="category">
          <mat-autocomplete #categorysAC="matAutocomplete" [displayWith]="displayFullName">
            <mat-option *ngFor="let category of categories | async | autocompleteFilter: 'fullName' : inp.value"
              [value]="category">
              {{category.fullName}}
            </mat-option>
          </mat-autocomplete>
          <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearFormValue('category')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="transaction-edit__project" *ngIf="!form.value.isTransfer">
        <mat-form-field appearance="fill">
          <mat-label>Projekt</mat-label>
          <input type="text" #inp matInput [matAutocomplete]="projectsAC" formControlName="project">
          <mat-autocomplete #projectsAC="matAutocomplete" [displayWith]="displayName">
            <mat-option *ngFor="let project of projects | async | autocompleteFilter: 'name' : inp.value"
              [value]="project">
              {{project.name}}
            </mat-option>
          </mat-autocomplete>
          <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearFormValue('project')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="transaction-edit__recipient" *ngIf="!form.value.isTransfer">
        <mat-form-field appearance="fill">
          <mat-label>Partner</mat-label>
          <input type="text" #inp matInput [matAutocomplete]="recipientsAC" formControlName="recipient">
          <mat-autocomplete #recipientsAC="matAutocomplete" [displayWith]="displayName">
            <mat-option *ngFor="let recipient of recipients | async | autocompleteFilter: 'name' : inp.value"
              [value]="recipient">
              {{recipient.name}}
            </mat-option>
          </mat-autocomplete>
          <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearFormValue('recipient')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="transaction-edit__description">
        <mat-form-field appearance="fill">
          <mat-label>Megjegyzés</mat-label>
          <input type="text" matInput formControlName="description">
          <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearFormValue('description')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Mentés</button>
    </mat-tab>
    <mat-tab label="Bontás"> Content 2 </mat-tab>
  </mat-tab-group>
</form>
