<form [formGroup]="form">
  <mat-slider [min]="min" [max]="max">
    <input formControlName="start" matSliderStartThumb>
    <input formControlName="end" matSliderEndThumb>
  </mat-slider>
  <div *ngIf="calendarDay | async as day" class="day-grid">
    <ng-template #weekend>
      <ng-container *ngIf="day.start && day.end; else fullDay">
        <div class="no-work" [style.grid-column]="1 + '/ ' + (day.start + 1)"></div>
        <div class="no-work" [style.grid-column]="(day.end + 1) + '/ 97'"></div>
      </ng-container>
      <ng-template #fullDay>
        <div class="no-work" [style.grid-column]="'1 / 97'"></div>
      </ng-template>
    </ng-template>

    <ng-template #holiday>
      <div class="holiday" [style.grid-column]="'1 / 97'"></div>
    </ng-template>

    <ng-template #vacation>
      <div class="vacation" [style.grid-column]="'1 / 97'"></div>
    </ng-template>

    <ng-template #workday>
      <div class="no-work" [style.grid-column]="1 + '/ ' + (day.start + 1)"></div>
      <div class="no-work" [style.grid-column]="(day.end + 1) + '/ 97'"></div>
    </ng-template>

    <div class="pending" [style.grid-column]="(form.value.start + 1) + ' / ' + (form.value.end + 1)"></div>
    <ng-container [ngSwitch]="day.dayType">
      <ng-container *ngSwitchCase="'weekend'" [ngTemplateOutlet]="weekend"></ng-container>
      <ng-container *ngSwitchCase="'vacation'" [ngTemplateOutlet]="vacation"></ng-container>
      <ng-container *ngSwitchCase="'holiday'" [ngTemplateOutlet]="holiday"></ng-container>
      <ng-container *ngSwitchDefault [ngTemplateOutlet]="workday"></ng-container>
    </ng-container>
    <div *ngFor="let e of day.entries" [ngClass]="e.entryType" [style.grid-column]="(e.start + 1) + ' / ' + (e.end + 1)">
    </div>
  </div>
  {{form.value.start | timeSlotToTime}} - {{form.value.end | timeSlotToTime}} (időtartam: {{(form.value.end - form.value.start) | timeSlotToTime}} óra)
</form>