.mat-mdc-list {
  grid-area: details;
  min-width: 0;
  padding: 0;
  margin: 15px 0px;

  .mat-mdc-list-item {
    height: 26px;
  }

  .mat-icon {
    margin: 0;
  }

  .mat-mdc-list-item-title {
    margin-left: 6px;
  }

  .category,
  .recipient,
  .description,
  .project {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .account,
  .recipient {
    font-weight: bold;
  }

  .description {
    font-style: italic;
  }

  .amount {
    grid-area: amount;
    align-self: center;
    justify-self: end;
    font-size: 20px;
    font-weight: bold;
  }

  .buttons {
    grid-area: buttons;
    justify-self: end;
  }

  // @media all and (max-width: 639px) {
  //   & {
  //     grid-template-columns: 65px 1fr auto;
  //     column-gap: 5px;
  //   }

  //   .date {
  //     font-size: 14px;
  //   }

  //   .amount {
  //     font-size: 14px;
  //   }
  // }
}
