<mat-list>
  <mat-list-item *ngIf="accountName || accountId" [ngClass]="accountIconColor">
    <mat-icon matListItemIcon>{{accountIcon}}</mat-icon>
    <div matListItemTitle>{{accountName ?? (account |async)?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="amount" [ngClass]="accountIconColor">
    <mat-icon matListItemIcon>paid</mat-icon>
    <div matListItemTitle>{{amount}} {{currency ?? (currencyAccount | async)?.currency}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="recipientName || recipientId">
    <mat-icon matListItemIcon>store</mat-icon>
    <div matListItemTitle class="recipient">{{recipientName ?? (recipient | async)?.name}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="categoryName || categoryId">
    <mat-icon matListItemIcon>category</mat-icon>
    <div matListItemTitle class="category">{{categoryName ?? (category | async)?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="productName || productId">
    <mat-icon matListItemIcon>barcode</mat-icon>
    <div matListItemTitle class="product">{{productName ?? (product | async)?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="quantity">
    <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
    <div matListItemTitle class="product">{{quantity}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="invoiceNumber">
    <mat-icon matListItemIcon>receipt</mat-icon>
    <div matListItemTitle class="product">{{invoiceNumber}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="billingStartDate && billingEndDate">
    <mat-icon matListItemIcon>calendar_month</mat-icon>
    <div matListItemTitle class="product">{{billingStartDate | date:'yyyy MMM dd.'}} - {{billingEndDate | date:'yyyy MMM dd.'}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="projectName || projectId">
    <mat-icon matListItemIcon>stacks</mat-icon>
    <div matListItemTitle class="project">{{projectName ?? (project | async)?.name}}</div>
  </mat-list-item>
  <mat-list-item *ngIf=description>
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle class="description">{{description}}</div>
  </mat-list-item>
</mat-list>