<mat-list>
  <mat-list-item *ngIf="payingAccount" class="red">
    <mat-icon matListItemIcon>reply_all</mat-icon>
    <div matListItemTitle>{{payingAccount?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="ownerAccount" class="green">
    <mat-icon matListItemIcon>forward</mat-icon>
    <div matListItemTitle>{{ownerAccount?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="givingAccount" [ngClass]="transferColor">
    <mat-icon matListItemIcon>arrow_left_alt</mat-icon>
    <div matListItemTitle>{{givingAccount?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="receivingAccount" [ngClass]="transferColor">
    <mat-icon matListItemIcon>arrow_right_alt</mat-icon>
    <div matListItemTitle>{{receivingAccount?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="amount">
    <mat-icon matListItemIcon>attach_money</mat-icon>
    <div matListItemTitle>{{amount}} {{currency}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="remainingAmount" class="red">
    <mat-icon matListItemIcon>money_off</mat-icon>
    <div matListItemTitle>{{remainingAmount}} {{currency}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="recipient">
    <mat-icon matListItemIcon>store</mat-icon>
    <div matListItemTitle class="recipient">{{recipient?.name}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="category">
    <mat-icon matListItemIcon>category</mat-icon>
    <div matListItemTitle class="category">{{category?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="product">
    <mat-icon matListItemIcon>barcode</mat-icon>
    <div matListItemTitle class="product">{{product?.fullName}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="quantity">
    <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
    <div matListItemTitle class="product">{{quantity}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="invoiceNumber">
    <mat-icon matListItemIcon>receipt</mat-icon>
    <div matListItemTitle class="product">{{invoiceNumber}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="billingStartDate && billingEndDate">
    <mat-icon matListItemIcon>calendar_month</mat-icon>
    <div matListItemTitle class="product">{{billingStartDate | date:'yyyy MMM dd.'}} - {{billingEndDate | date:'yyyy MMM dd.'}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="project">
    <mat-icon matListItemIcon>stacks</mat-icon>
    <div matListItemTitle class="project">{{project?.name}}</div>
  </mat-list-item>
  <mat-list-item *ngIf=description>
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle class="description">{{description}}</div>
  </mat-list-item>
</mat-list>