.amount {
  font-size: 20px;
  font-weight: bold;
}

.report-item {
  display: grid;
  grid-template-columns: 75px 1fr auto;
  column-gap: 15px;
  grid-template-areas: "datetime details amount";
  width: 100%;
  padding: 10px;

  & > .datetime {
    grid-area: datetime;
    text-align: right;

    & > .year {
      font-size: 12px;
    }

    & > .date {
      font-size: 16px;
    }

    & > .time {
      font-size: 14px;
    }
  }

  .amount {
    grid-area: amount;
    align-self: center;
    justify-self: end;
  }

  .mat-mdc-list {
    grid-area: details;
    min-width: 0;
    padding: 0;

    .mat-mdc-list-item {
      height: 26px;
    }

    .mat-icon {
      margin: 0;
    }

    .mat-mdc-list-item-title {
      margin-left: 6px;
    }

    .category,
    .recipient,
    .description,
    .project {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .account,
    .recipient {
      font-weight: bold;
    }

    .description {
      font-style: italic;
    }
  }
}
