@if (transaction) {
  @if (transaction.transactionType === "split") {
    @if (transaction.account.accountId === viewingAccountId) {
      @for (l of loans | keyvalue; track $index) {
        <household-transaction-details-row icon="forward" [text]="l.value.accountName" rowColor="green" />
        @if (l.value.amount) {
          <household-transaction-details-row
            icon="attach_money"
            [text]="(l.value.amount | number: '1.0-2' : 'hu') + ' ' + transaction.account.currency"
            rowColor="green"
          />
        }
      }
    } @else {
      <household-transaction-details-row icon="reply_all" [text]="transaction.account.fullName" rowColor="red" />
      @if (loans[viewingAccountId].amount) {
        <household-transaction-details-row
          icon="attach_money"
          [text]="(loans[viewingAccountId].amount | number: '1.0-2' : 'hu') + ' ' + transaction.account.currency"
          rowColor="red"
        />
      }
    }
  } @else {
    @if (transaction?.payingAccount && transaction?.payingAccount.accountId !== viewingAccountId) {
      <household-transaction-details-row
        icon="reply_all"
        [text]="transaction.payingAccount.fullName"
        [rowColor]="transaction?.amount > 0 ? 'green' : 'red'"
      />
    }
    @if (transaction?.ownerAccount && transaction?.ownerAccount.accountId !== viewingAccountId) {
      <household-transaction-details-row
        icon="forward"
        [text]="transaction.ownerAccount.fullName"
        [rowColor]="transaction?.amount > 0 ? 'red' : 'green'"
      />
    }

    @if (repayment) {
      <household-transaction-details-row
        icon="attach_money"
        [text]="(repayment | number: '1.0-2' : 'hu') + ' ' + transaction.payingAccount.currency"
      />
      @if (transaction?.remainingAmount - repayment) {
        <household-transaction-details-row
          icon="money_off"
          [text]="(transaction?.remainingAmount - repayment | number: '1.0-2' : 'hu') + ' ' + transaction.payingAccount.currency"
          rowColor="red"
        />
      }
    } @else {
      @if (transaction?.remainingAmount) {
        <household-transaction-details-row
          icon="attach_money"
          [text]="(transaction?.remainingAmount | number: '1.0-2' : 'hu') + ' ' + transaction.payingAccount.currency"
          [rowColor]="transaction?.payingAccount.accountId !== viewingAccountId ? 'red' : 'green'"
        />
      }
    }
  }
}
