.no-work,
.holiday,
.vacation,
.issue,
.personal,
.work {
  grid-column: 1;
}

.personal,
.work,
.issue {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: left;
  cursor: default;
  padding: 2px;
  border: 0;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.personal,
.work {
  border-radius: 10px;
  color: #ffffff;
}

.no-work {
  background-image: repeating-linear-gradient(-45deg,
      #e0e0e0,
      #e0e0e0 6px,
      transparent 6px,
      transparent 12px);
}

.holiday {
  background-image: repeating-linear-gradient(-45deg,
      #ffcdd2,
      #ffcdd2 6px,
      transparent 6px,
      transparent 12px);
}

.vacation {
  background-image: repeating-linear-gradient(-45deg,
      #c8e6c9,
      #c8e6c9 6px,
      transparent 6px,
      transparent 12px);
}

.personal {
  background-color: #4caf50;
  border: 2px solid #2e7d32;
}

.work {
  background-color: #3f51b5;
  border: 2px solid #283593;
}

.issue {
  background-image: repeating-linear-gradient(-45deg,
      #ffe0b2,
      #ffe0b2 6px,
      transparent 6px,
      transparent 12px);
  color: #212121;
}