.header {
  position: sticky;
  background-color: #fafafa;
  margin-top: -6px;
  margin-bottom: 10px;
  padding-top: 6px;
  top: 64px;
  z-index: 2;

  .proposal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    margin-bottom: 10px;
  }

  .week-stepper {
    display: flex;
    justify-content: space-between;
  }

  .days-of-week {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40px repeat(7, 1fr);

    .day {
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 16px;

      .buttons {
        align-self: center;
      }
    }
  }
}

.calendar {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 40px repeat(7, 1fr);
  grid-template-rows: repeat(96, 20px);
  background-image:
    linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to right, #fafafa 40px, transparent 40px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);

  background-repeat:
    no-repeat,
    repeat,
    no-repeat,
    repeat;

  background-size:
    40px 100%,
    calc((100% - 40px) / 7) 100%,
    40px 100%,
    100% 20px;

  background-position:
    0 0,
    40px 0,
    0 0,
    40px 0;

  .time {
    margin-top: -10px;
    grid-column: 1;
    text-align: right;
  }


  household-calendar-vertical-day {
    display: contents;
  }
}