<div [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Számlázási időszak</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="billingStartDate" placeholder="Kezdete">
      <input matEndDate formControlName="billingEndDate" placeholder="Vége">
    </mat-date-range-input>
    <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
    <mat-date-range-picker #picker />
  </mat-form-field>
  <household-clearable-input label="Számlaszám" formControlName="invoiceNumber" (blur)="touched()" />
</div>
