<household-toolbar title="Tranzakció">
  <button mat-icon-button type="button" tabindex="-1" [matMenuTriggerFor]="new">
    <mat-icon>autorenew</mat-icon>
  </button>
  <mat-menu #new="matMenu">
    <button mat-menu-item replaceUrl="true" [routerLink]="['..', 'payment']">Kiadás</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['..', 'income']">Bevétel</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['..', 'split']">Bontás</button>
    <button mat-menu-item replaceUrl="true" [routerLink]="['..', 'transfer']">Átvitel</button>
  </mat-menu>
  <button mat-icon-button type="button" tabindex="-1" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</household-toolbar>

<form [formGroup]="form">
  <household-datetime-input formControlName="issuedAt" />

  <household-amount-input formControlName="amount" [currency]="form.value.account?.currency" [isPositive]="false" [signDisabled]="true" />

  <household-account-autocomplete-input label="Számla" [exclude]="form.value.loanAccount?.accountId" formControlName="account" />

  <household-account-autocomplete-input label="Kölcsön számla" [exclude]="form.value.account?.accountId" formControlName="loanAccount" />

  <mat-slide-toggle *ngIf="form.value.account?.accountType !== 'loan'" color="primary" formControlName="isSettled">Tartozás rendezve</mat-slide-toggle>

  <household-category-autocomplete-input label="Kategória" formControlName="category" />

  <ng-container *ngIf="form.value.category?.categoryType === 'invoice'">
    <mat-form-field>
      <mat-label>Számlázási időszak</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="billingStartDate" placeholder="Kezdete">
        <input matEndDate formControlName="billingEndDate" placeholder="Vége">
      </mat-date-range-input>
      <mat-datepicker-toggle matPrefix [for]="picker" tabindex="-1" />
      <mat-date-range-picker #picker />
    </mat-form-field>

    <household-clearable-input label="Számlaszám" formControlName="invoiceNumber" />
  </ng-container>

  <household-product-autocomplete-input *ngIf="!form.value.category || form.value.category?.categoryType === 'inventory'" label="Termék" formControlName="product" [categoryId]="form.value.category?.categoryId" />

  <household-clearable-input *ngIf="form.value.product" label="Mennyiség" formControlName="quantity" type="number" />

  <household-recipient-autocomplete-input label="Partner" formControlName="recipient" />

  <household-project-autocomplete-input label="Projekt" formControlName="project" />

  <household-clearable-input formControlName="description" label="Megjegyzés" />
</form>