<div class="account-transaction-list-item mat-elevation-z2">
  <div class="account-transaction-list-item__datetime">
    <div class="account-transaction-list-item__year" *ngIf="showYear">{{date | date:'yyyy'}}</div>
    <div class="account-transaction-list-item__date">{{date | date:'MMM dd.'}}</div>
    <div class="account-transaction-list-item__time">{{date | date:'HH:mm'}}</div>
  </div>
  <mat-list>
    <mat-list-item *ngIf="account">
      <mat-icon matListItemIcon [ngClass]="accountIconColor">{{accountIcon}}</mat-icon>
      <div matListItemTitle [ngClass]="accountIconColor">{{account.fullName}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="remainingAmount">
      <mat-icon matListItemIcon [ngClass]="accountIconColor">paid</mat-icon>
      <div *ngIf="remainingAmount" matListItemTitle [ngClass]="accountIconColor">{{remainingAmount}} {{viewingAccount.currency}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="recipient">
      <mat-icon matListItemIcon>store</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__recipient">{{recipient.name}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="category">
      <mat-icon matListItemIcon>category</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__category">{{category.fullName}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="product">
      <mat-icon matListItemIcon>shopping_cart</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__product">{{product.fullName}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="invoiceNumber">
      <mat-icon matListItemIcon>receipt</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__product">{{invoiceNumber}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="billingStartDate && billingEndDate">
      <mat-icon matListItemIcon>calendar_month</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__product">{{billingStartDate | date:'yyyy MMM dd.'}} - {{billingEndDate | date:'yyyy MMM dd.'}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="project">
      <mat-icon matListItemIcon>stacks</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__project">{{project.name}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="transaction.description">
      <mat-icon matListItemIcon>description</mat-icon>
      <div matListItemTitle class="account-transaction-list-item__description">{{transaction.description}}</div>
    </mat-list-item>
  </mat-list>
  <div *ngIf="amount" class="account-transaction-list-item__amount" [ngClass]="amount >= 0 ? 'green' : 'red'">{{amount | number:'1.0-2':'hu' }} {{viewingAccount.currency}}
  </div>
  <div class="account-transaction-list-item__buttons">
    <button mat-icon-button color="primary" *ngIf="transaction.transactionType === 'split'">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <a mat-icon-button color="primary" [routerLink]="['/accounts', pathAccountId, 'transactions', transaction.transactionId, 'edit']" href=""> <mat-icon>edit</mat-icon></a>
    <button mat-icon-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>