<div class="account-transaction-list-item mat-elevation-z2">
  <div class="account-transaction-list-item__datetime">
    <div class="account-transaction-list-item__year" *ngIf="showYear">{{date | date:'yyyy'}}</div>
    <div class="account-transaction-list-item__date">{{date | date:'MMM dd.'}}</div>
    <div class="account-transaction-list-item__time">{{date | date:'HH:mm'}}</div>
  </div>
  <household-transaction-short-details [categoryName]="category?.fullName" [projectName]="project?.name" [recipientName]="recipient?.name" [productName]="product?.fullName" [billingStartDate]="billingStartDate" [billingEndDate]="billingEndDate" [description]="transaction.description" [invoiceNumber]="invoiceNumber" [quantity]="quantity" [amount]="remainingAmount" [currency]="viewingAccount.currency" [accountName]="account?.fullName" [accountIcon]="accountIcon" [accountIconColor]="accountIconColor" />
  <div *ngIf="amount" class="account-transaction-list-item__amount" [ngClass]="amount >= 0 ? 'green' : 'red'">{{amount | number:'1.0-2':'hu' }} {{viewingAccount.currency}}
  </div>
  <div class="account-transaction-list-item__buttons">
    <button mat-icon-button color="primary" *ngIf="transaction.transactionType === 'split'">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <a mat-icon-button color="primary" [routerLink]="['/accounts', pathAccountId, 'transactions', transaction.transactionId, 'edit', formType]" href="" [disabled]="isDisabled | async"> <mat-icon>edit</mat-icon></a>
    <button mat-icon-button color="warn" (click)="delete()" [disabled]="isDisabled | async">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>