/* You can add global styles to this file, and also import other style files */

html {
  -webkit-text-size-adjust: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

.mat-form-field-infix {
  width: 100%!important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
