<mat-form-field>
  <button mat-icon-button matPrefix type="button" (click)="inverseValue($event)" [disabled]="signDisabled">
    <mat-icon>{{isPositive ? 'add' : 'remove'}}</mat-icon>
  </button>
  <mat-label>{{label}}</mat-label>
  <input type="number" matInput [formControl]="amount" min="0" (blur)="touched?.()" (input)="touched?.()">
  <span matTextSuffix>{{currency}}</span>
  <mat-hint *ngIf="newBalance">Új egyenleg: {{newBalance}} {{currency}}</mat-hint>
  <mat-error *ngIf="amount.errors?.min">Nem lehet negatív szám</mat-error>
  <mat-error *ngIf="amount.errors?.max">Túl sok</mat-error>
  <mat-error *ngIf="amount.errors?.required">Kötelező</mat-error>
</mat-form-field>