<household-toolbar title="Számlák">
  <button mat-icon-button (click)="create()" type="button">
    <mat-icon>add</mat-icon>
  </button>
</household-toolbar>
<mat-slide-toggle color="primary" [(ngModel)]="onlyOpenAccounts">{{onlyOpenAccounts ? 'Csak nyitott számlák' :
  'Összes számla'}}</mat-slide-toggle>
<mat-nav-list>
  <ng-container *ngFor="let acc of accountsByOwner | keyvalue">
    <h2>{{acc.key}}</h2>
    <household-account-list [onlyOpenAccounts]="onlyOpenAccounts" [accounts]="acc.value"></household-account-list>
  </ng-container>
</mat-nav-list>