<button mat-icon-button type="button" tabindex="-1" [matMenuTriggerFor]="main">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #main="matMenu">
  <button mat-menu-item [routerLink]="['/']">Számlák</button>
  <button mat-menu-item [routerLink]="['/projects']">Projektek</button>
  <button mat-menu-item [routerLink]="['/categories']">Kategóriák</button>
  <button mat-menu-item [routerLink]="['/products']">Termékek</button>
  <button mat-menu-item [routerLink]="['/recipients']">Partnerek</button>
  <button mat-menu-item [routerLink]="['/reports']">Jelentések</button>
</mat-menu>