<button mat-icon-button type="button" tabindex="-1" [matMenuTriggerFor]="main">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #main="matMenu">
  <button mat-menu-item [routerLink]="['/']">Számlák</button>
  <button mat-menu-item *householdIsEditor [matMenuTriggerFor]="catalog">Katalógus</button>
  <button mat-menu-item [routerLink]="['/','reports']">Jelentések</button>
  <button mat-menu-item *householdIsEditor [routerLink]="['/','imports']">Importálás</button>
  <button mat-menu-item *householdIsHairdresser [matMenuTriggerFor]="hairdressing">Fodrászat</button>
  <mat-divider />
  <button mat-menu-item [routerLink]="['/','settings']">Beállítások</button>
  <button mat-menu-item (click)="logOut()">Kijelentkezés</button>
</mat-menu>

<mat-menu #hairdressing="matMenu">
  <button mat-menu-item [routerLink]="['/', 'hairdressing', 'customers']">Vendégek</button>
  <button mat-menu-item [routerLink]="['/', 'hairdressing', 'prices']">Árlista</button>
  <button mat-menu-item [routerLink]="['/', 'hairdressing', 'income']">Bevétel</button>
</mat-menu>

<mat-menu #catalog="matMenu">
  <button mat-menu-item [routerLink]="['/','projects']">Projektek</button>
  <button mat-menu-item [routerLink]="['/','categories']">Kategóriák</button>
  <button mat-menu-item [routerLink]="['/','products']">Termékek</button>
  <button mat-menu-item [routerLink]="['/','recipients']">Partnerek</button>
</mat-menu>