@switch (day.dayType) {
@case ('weekend') {
@if (day.calculatedStart && day.calculatedEnd) {
<div class="no-work" [style.grid-row]="1 + '/ ' + (day.calculatedStart + 1)" [style.grid-column]="column"></div>
<div class="no-work" [style.grid-row]="(day.calculatedEnd + 1) + '/ 97'" [style.grid-column]="column"></div>
} @else {
<div class="no-work" [style.grid-row]="'1 / 97'" [style.grid-column]="column"></div>
}
}
@case ('vacation') {
<div class="vacation" [style.grid-row]="'1 / 97'" [style.grid-column]="column"></div>
}
@case ('holiday') {
<div class="holiday" [style.grid-row]="'1 / 97'" [style.grid-column]="column"></div>
}
@default {
<div class="no-work" [style.grid-row]="1 + '/ ' + (day.calculatedStart + 1)" [style.grid-column]="column"></div>
<div class="no-work" [style.grid-row]="(day.calculatedEnd + 1) + '/ 97'" [style.grid-column]="column"></div>
}
}
@for (p of proposedTimeIntervals; track $index) {
<button class="pending" [style.grid-row]="(p.start + 1) + ' / ' + (p.end + 1)" [style.grid-column]="column" (click)="onProposalClick(p)">{{p.start | timeSlotToTime}} - {{p.end | timeSlotToTime}}</button>
}
@for (e of day.entries; track $index) {
<button [ngClass]="e.entryType" [class.no-show]="e.resolution?.status === 'noShow'" [style.grid-row]="(e.start + 1) + ' / ' + (e.end + 1)" [style.grid-column]="column" (click)="onEntryClick(e)">
  @if (e.entryType === 'work' && isInThePast && !e.resolution) {
  <mat-icon class="badge">attach_money</mat-icon>
  }
  {{e.title}}
</button>
}