<household-toolbar title="Vendégek">
  <button mat-icon-button (click)="onEdit()" type="button">
    <mat-icon>edit</mat-icon>
  </button>
</household-toolbar>
@let cust = customer | async;
@if (cust) {
<div data-testId="name" class="name">
  {{cust.name}}
</div>
<div data-testId="rating" class="rating">
  <mat-icon [ngClass]="cust.rating === 1 ? 'green' : ''">sentiment_stressed</mat-icon>
  <mat-icon [ngClass]="cust.rating === 2 ? 'green' : ''">sentiment_dissatisfied</mat-icon>
  <mat-icon [ngClass]="cust.rating === 3 ? 'green' : ''">sentiment_neutral</mat-icon>
  <mat-icon [ngClass]="cust.rating === 4 ? 'green' : ''">sentiment_satisfied</mat-icon>
  <mat-icon [ngClass]="cust.rating === 5 ? 'green' : ''">sentiment_excited</mat-icon>
</div>
@if (cust.description) {
<div data-testId="description" class="description">{{cust.description}}</div>
}
<mat-divider />
<household-customer-details-works data-testId="upcoming-works" [works]="workEntries | async | upcomingEntries" [pageSize]="3" title="Következő időpontok" />
<div class="section-title">
  <household-icon-text icon="content_cut" text="Munkák" size="medium" />
  <button mat-icon-button data-testId="new-job" type="button" (click)="onCreateJob()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="job-list">
  @for (j of cust.jobs; track $index) {
  <household-customer-details-job-item [job]="j" />
  }
</div>
<mat-divider />
<household-customer-details-works data-testId="past-works" [works]="workEntries | async | pastEntries" title="Korábbi időpontok" />
<mat-divider />
<div class="section-title">
  <household-icon-text icon="block" text="Tiltólista" size="medium" />
  <button mat-icon-button data-testId="add-to-blacklist" type="button" (click)="onAddToBlacklist()">
    <mat-icon>add</mat-icon>
  </button>
</div>
@if (cust.blacklistedCustomers.length === 0) {
<div data-testId="empty-blacklist">
  Nincs vendég a tiltólistához adva
</div>
}
@for (c of cust.blacklistedCustomers; track $index) {
<div class="customer-blacklist" data-testId="blacklist">
  <div>
    {{c.name}}
  </div>
  <button mat-icon-button type="button" color="warn" (click)="onRemoveFromBlacklist(c)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
}
}